<div class="h-100 d-flex align-items-center justify-content-center">
    <h1 class="mt-6 ml-6" style="font-weight: 900;font-size: larger;">Government Schemes</h1>
    <div style="text-align:center; padding:170px 0px;font-weight: 600;font-size: larger;">
      <h4>OOPS!! No Government Schemes available right now</h4>
      <h4>When new Schemes Launched we will let you know!!</h1>
    </div>
  </div>